__pycache__/
*.pyc
email_Dana_Kevin1.py
email_mercy_cole.py
emails_Connor_Jaydn.py
emails_nick_patrick.py
emails_nick_patrick_test.py
hour_Dana_Kevin.py
time_of_day_mercy_cole.py
timeofday_nick_patrick.py
timeofday_nick_patrick_test.py
